.slider {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 35rem;
    color: rgb(235, 222, 112);
    background-color: black;
    position: relative;
}
.slide {
    position: absolute;
    display: flex;
    width: 100%;
    height: 35rem;
}
.slide-bg {
    position: relative;
    display: flex;
    flex: 1 1 auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    content: "";
    background-image: linear-gradient(
        to right,
        #000 0,
        transparent 75%,
        transparent 100%
    );
}
.slide-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.slide-pane {
    position: absolute;
    width: 45%;
    top: 5rem;
    left: 5rem;
}
.slide-pane-name {
    font-size: 2.8rem;
}
.slide-pane-meta {
    font-size: 1.4rem;
    color: rgb(161, 164, 110);
}
.slide-pane-desc {
    line-height: 1.6;
    font-size: 1.2rem;
}
.app-icon {
    color: yellow;
    margin-right: 5px;
}
.slide-pane-rating {
    display: flex;
    align-items: center;
}
.slide-pane-info {
    display: flex;
}
.slide-pane-rating-value {
    color: white;
}
