<div class="slider">
    <ng-container *ngFor="let item of items; let i = index">
        <div class="slide" *ngIf="i == currentSlideIndex" @slideFade>
            <div class="slide-bg">
                <img
                    class="slide-img"
                    [src]="
                        'https://image.tmdb.org/t/p/original/' +
                        item.backdrop_path
                    "
                    alt=""
                />
            </div>
            <div class="slide-pane">
                <h2 class="slide-pane-name">{{ item.title }}</h2>

                <div class="slide-pane-meta">
                    <div class="slide-pane-info">
                        <span
                            class="slide-pane-rating"
                            style="
                                content: '|';
                                margin-right: 9px;
                                margin-left: 9px;
                            "
                        >
                            <span class="app-icon">star</span
                            ><span class="slide-pane-rating-value">{{
                                item.vote_average
                            }}</span
                            ><span>/10</span>
                        </span>
                        <span
                            style="
                                content: '|';
                                margin-right: 9px;
                                margin-left: 9px;
                            "
                            >{{ item.vote_count }}</span
                        >
                        <span>{{ item.release_date | date: "yyyy" }}</span>
                    </div>
                </div>
                <div class="slide-pane-desc mt-6">
                    {{ item.overview }}
                </div>
            </div>
        </div>
    </ng-container>
</div>
