<div class="slider">
    <div class="slide">
        <div class="slide-bg">
            <img
                class="slide-img"
                src="https://image.tmdb.org/t/p/original/AfvIjhDu9p64jKcmohS4hsPG95Q.jpg"
                alt=""
            />
        </div>
        <div class="slide-pane">
            <h2 class="name">The Black Phone</h2>

            <div class="meta">
                <div class="info">
                    <span class="rating">
                        <span>Star</span><span class="rating-value">7.5</span
                        ><span>/10</span>
                    </span>
                    <span>463 Reviews</span>
                    <span>2021</span>
                </div>
            </div>
            <div class="desc">
                Finney Blake, a shy but clever 13-year-old boy, is abducted by a
                sadistic killer and trapped in a soundproof basement where
                screaming is of little use.
            </div>
        </div>
    </div>
</div>
